<!DOCTYPE html>
<html>
  <head>
    <!-- <meta charset="UTF-8"> -->
    <title>Billboard 200</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css" rel="stylesheet">
  </head>
  <body>
      <h1>Album Rank</h1>
  <div class="container">
      {% if items%}
      🤓
      {% for item in items %}
          <div>
              {{item}} <br/>
          </div>
      {% endfor %}
      {% else %}
      Else 
      {% endif %}
  </div>
      {{ the_div|safe }}
      <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
      <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
      {{ the_script|safe }}
  </body>
</html>